<ion-content>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 32px;
    text-align: center;
    background: #fafaf7;
  ">
    <img src="assets/family.png" style="width: 260px; margin-bottom: 24px;">

    <h1 style="color: #473C33; font-size: 2rem; margin-bottom: 8px;">
      Cuidar hoje,
    </h1>
    <h1 style="color: #ABC270; font-size: 2rem; margin-top: 0; margin-bottom: 16px;">
      proteger sempre.
    </h1>
    <p style="color: #473C33; opacity: 0.7; margin-bottom: 48px;">
      Acompanhe as vacinas do seu filho de forma fácil e segura.
    </p>

    <ion-button expand="block" routerLink="/register" style="width: 60%; margin-bottom: 12px;">
        Começar
    </ion-button>
    <ion-button expand="block" fill="outline" routerLink="/login" style="width: 60%;">
  Já tenho conta
</ion-button>
  </div>
</ion-content>